<launch>
  <!-- params -->
  <param name="/simulator/scene_file" value="$(find simulator)scenarios/feature_test.xml" type="string"/>
  <rosparam command="load" file="$(find feature_extraction)/config/parameters.yaml" />

  <param name="/pedsim/update_type" value="oracle" type="string"/>
  <param name="/pedsim/sensor_range" value="7.6" type="double"/>
  
  <!-- grid related parameters -->
  <param name="/pedsim/goal" value="[80.0, 80.0, 0.0, 0.0]"/>
  <param name="/pedsim/x1" value="0.0" type="double"/>
  <param name="/pedsim/y1" value="0.0" type="double"/>
  <param name="/pedsim/x2" value="110.0" type="double"/>
  <param name="/pedsim/y2" value="110.0" type="double"/>

  <!-- other parameters -->
  <param name="/pedsim/cell_size" value="1.0" type="double"/>
  <param name="/pedsim/speed" value="1.0" type="double"/>
  <param name="/pedsim/goal_threshold" value="2.0" type="double"/>
  <param name="/pedsim/target_type" value="2" type="int"/>
  <param name="/pedsim/max_msg_age" value="0.3" type="double"/>

  <!-- robot control parameters -->
  <param name="/pedsim/move_robot" value="10" type="double"/>
  <param name="/pedsim/teleop_state" value="1.0" type="double"/>



  <!-- main simulator node -->
  <node name="simulator" pkg="simulator" type="simulator" output="log" respawn="false"/>

  <!-- tf broadcaster for aligning frames -->
  <node name="simulator_tf_broadcaster" pkg="simulator" type="dummy_transforms.py" respawn="false" output="log" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simulator)/rviz/feature_test.rviz" respawn="false"/>

  <!-- teleop node -->
  <!-- <node name="teleop" pkg="simulator" type="teleop" respawn="false" output="log" /> -->

  <!-- feature logging -->
  <node name="feature_extraction" pkg="feature_extraction" type="feature_extraction" respawn="false" output="screen" />

  <!-- planning node -->
  <node name="momo" pkg="momo" type="momo_ros.py" respawn="false" output="screen"/>
  
</launch>
