<launch>
  <!-- params -->
  <param name="/simulator/scene_file" value="$(find simulator)scenarios/feature_test.xml" type="string"/>
  <rosparam command="load" file="$(find feature_extraction)/config/parameters.yaml" />

  <!-- main simulator node -->
  <node name="simulator" pkg="simulator" type="simulator" output="log"/>

  <!-- tf broadcaster for aligning frames -->
  <node name="simulator_tf_broadcaster" pkg="simulator" type="dummy_transforms.py" respawn="false" output="log" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simulator)/rviz/feature_test.rviz"/>


  <!-- teleop node -->
  <node name="teleop" pkg="simulator" type="teleop" respawn="false" output="log" />

  <!-- feature logging -->
  <node name="feature_extraction" pkg="feature_extraction" type="feature_extraction" respawn="false" output="screen" />
</launch>
