<launch>
  <!-- simulator -->
  <param name="/simulator/scene_file" value="$(find simulator)scenarios/birth_death_test.xml" type="string"/>
  <param name="/simulator/cell_size" value="1.0" type="double"/>
  <node name="simulator" pkg="simulator" type="simulator" output="screen"/>

  <!-- planner -->
  <param name="/irl_features/target_id" value="1" type="int"/>
  <param name="/irl_features/max_msg_age" value="0.1" type="double"/>
  
  <!--<param name="/irl_features/feature_type" value="helbing"/>
  <param name="/irl_features/feature_params" value="{ 'radius': 3}"/>
  <param name="/irl_features/weights" value="[0.1, 0.2, 0.3, 0.4]"/>-->

  <!--<param name="/irl_features/feature_type" value="anisotropic"/>
  <param name="/irl_features/feature_params" value="{ 'radius': 13}"/>
  <param name="/irl_features/weights" value="[0.3, 0.7]"/>-->

  <!--<param name="/irl_features/feature_type" value="icra14"/>
  <param name="/irl_features/feature_params" value="{ 'radius': 3}"/>
  <param name="/irl_features/weights" value="[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.03, 0.03, 0.04]"/>-->

  <param name="/irl_features/feature_type" value="kimlike"/>
  <param name="/irl_features/feature_params" value="{ 'radius': 3}"/>
  <param name="/irl_features/weights" value="[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.2]"/>
  <!-- grid dimension -->
  <param name="/irl_features/cell_size" value="1.0" type="double"/>
  <param name="/irl_features/x1" value="0.0" type="double"/>
  <param name="/irl_features/y1" value="0.0" type="double"/>
  <param name="/irl_features/x2" value="310.0" type="double"/>
  <param name="/irl_features/y2" value="110.0" type="double"/>

  <param name="/irl_features/goal" value="[195.0, 75.0, 1.0, 0.0]"/>
  <param name="/irl_features/speed" value="1.0" type="double"/>
  <param name="/irl_features/goal_threshold" value="1.0" type="double"/>

  <node name="irl_features" pkg="momo" type="irl_features.py" />
</launch>
